@model IEnumerable<AptechRecord.Models.usp_select_student_attendance_Result>

@{
    ViewBag.Title = "StudentAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section contentHeader{
    <h1>
        @ViewBag.Timing slot batches
    </h1>
    <ol class="breadcrumb">
        <li><a href=@Url.Action("Dashboard", "Admin")><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href=@Url.Action("SlotWiseAttendance", "Attendances", new {id = @ViewBag.Timing})><i class="fa fa-list"></i>Slots</a></li>
        <li><a href=@Url.Action("GetSlotBatches", "Attendances", new { batch = @ViewBag.Batch })><i class="fa fa-list"></i>Batches</a></li>
        <li>Student Attendance</li>
    </ol>
}
<table id="SAttendancetable" class="table">
    <thead>
        <tr>
            <th>
                Student Id
            </th>
            <th>
                Student Name
            </th>
            <th>
                Attendance Date
            </th>
            <th>
               Attendance Status
            </th>
            <th>
                Notes
            </th>
            <th>
                Username
            </th>
            <th>
                Batch Code
            </th>
            <th>
                Slot
            </th>
            <th>
                Days
            </th>
            <th>
                Contact No.
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttenddanceStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.BatchCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
            </tr>
        }
    </tbody>
</table>
